/* color values */
prj-red = red
prj-yello = beige

body
  margin: 0
  background-color: prj-red

.profile
  background-color: prj-yello
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  flex-flow: column

  img
    border-radius: 100%
    width: 300px
    box-shadow: 0px 0px 20px #000

  h1
    color: #fff
    font-size: 6em
    font-family: sans-serif
    text-shadow: 0px 0px 20px #000


/* page style start */
@import "pages/page.styl"